#conteudo{
	margin-top:250px;
	width:1320px;
	margin-left:10px;
	height:700px;
	background-color:white;
	box-shadow: 0px 0px 10px 3px;
	position:absolute;
	display:inline-block;
	border-radius:20px;
	/*opacity:0.5;*/
	font-size:20px;
	font-family:arial;
	letter-spacing:1px;
	 	
}
#img{
	background-image:url(../img/h.jpg);
	height:540px;
	width:400px;
	background-repeat:no-repeat;	
}
#texto{	
	width:440px;
}

/********************************************/

#img2{
	background-image:url(../img/s.jpg);
	height:540px;
	width:400px;
	background-repeat:no-repeat;
	margin-left:450px;
	margin-top:-540px;	
}
#texto2{	
	width:440px;
	margin-left:460px;
	margin-top:-118px;
}

/********************************************/

#img3{
	background-image:url(../img/hu.jpg);
	height:540px;
	width:400px;
	background-repeat:no-repeat;
	margin-left:888px;
	margin-top:-540px;	
}
#texto3{	
	width:440px;
	margin-left:880px;
	margin-top:-118px;
}



/**************** conteudo-index.css **************/

/*#conteudo{
	margin-top:250px;
	width:1380px;
	margin-left:10px;
	height:700px;
	background-color:white;
	box-shadow: 0px 0px 10px 3px;
	position:absolute;
	display:inline-block;
	border-radius:20px;
	/*opacity:0.5;	
	font-size:20px;
	font-family:arial;
	letter-spacing:1px;
	text-align:right;
	background-image:url(../img/eu.jpg);
	background-repeat:no-repeat;
	white-space: pre-wrap;
	text-transform: capitalize;	
}*/

